/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #FAF7D4;   /* background color */
	color: #444;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 400%;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
	font-size: 300%
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
	border: 4px solid;
}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}